@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>MVAC</title>
    <!--meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Anchor Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--//meta tags ends here-->
    <!--booststrap-->
    @*<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all">*@

    <link href="~/Contextnew/css/bootstrap.css" rel="stylesheet" />


    <!--//booststrap end-->
    <!-- font-awesome icons -->
    @*<link href="css/font-awesome.css" rel="stylesheet">*@
    <link href="~/Contextnew/css/font-awesome.css" rel="stylesheet" />

    <!-- //font-awesome icons -->
    <!-- menu -->
    @*<link type="text/css" rel="stylesheet" href="css/cm-overlay.css" />*@

    <link href="~/Contextnew/css/cm-overlay.css" rel="stylesheet" />

    <!-- //menu -->
    @*<link href="css/jquery.fatNav.css" rel="stylesheet" type="text/css">*@
    <link href="~/Contextnew/css/jquery.fatNav.css" rel="stylesheet" />


    <!--stylesheets-->
    @*<link href="css/style.css" rel='stylesheet' type='text/css' media="all">*@

    <link href="~/Contextnew/css/style.css" rel="stylesheet" />


    @*<link rel="stylesheet" href="css/owl.carousel.css" type="text/css" media="all">*@
    <link href="~/Contextnew/css/owl.carousel.css" rel="stylesheet" />


    @*<link rel="stylesheet" href="css/lightbox.css">*@
    <link href="~/Contextnew/css/lightbox.css" rel="stylesheet" />
    <!--//style sheet end here-->
    <link href="//fonts.googleapis.com/css?family=Raleway:300,400,500,600,700" rel="stylesheet">

    



   

</head>
<body>
    <!-- header-->
    <div class="agileits_main jarallax">

        <h2 class="navbar-brand brand-name" style="padding-left:50px">
            <a href="index.html">
                <img  style="height:100px;width:100px" class="img-responsive2"
                     src="~/Contextnew/tutorialimages/logo.jpeg" />
            </a>
        </h2>



        <div class="container-fluid">
            <div class="w3ls-header">
                <div class="w3layouts-header-top">

                    <div class="w3-header-top-grids">

                        <div class="w3-header-top-left">

                            <div class="agileinfo-social-grids">
                            </div>
                        </div>
                        <div class="w3-header-top-right">

                            <div class="w3-header-top-right-text">
                                <p><span class="fa fa-home" aria-hidden="true"></span> PO Box 2508 Fairview North Plot 1160 Manzini Swaziland</p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="w3-agile-logo">
                    <div class="head-wl">
                        <div class="email">
                            <p><span class="fa fa-envelope" aria-hidden="true"></span> <a href="mailto:Atipas@outlook.com" class="info"> Atipas@outlook.com</a></p>

                        </div>

                        <div class="headder-w3">
                            <h1><a href=@Url.Action("Index", "Home")>MVAC</a></h1>
                        </div>
                        <div class="tele">
                            <p><span class="fa fa-phone" aria-hidden="true"></span> +268 78446356</p>
                        </div>

                        @* Button to download setup *@

                    <div style="padding-left:800px">
                        <a href="~/Contextnew/setup/MVAC_setup.exe" download="MVAC_setup.exe">
                        <button class="fa fa-download" style="font-size:16px">Download <span> Setup</span></button>
                        </a>
                    </div>

                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="w3layouts-nav-right">
                    <div class="fat-nav">
                        <div class="fat-nav__wrapper">
                            <ul>
                                <li><a href=@Url.Action("Index", "Home")>Home</a></li>
                                @*<li><a href="#about" class="scroll">Our Plans</a></li>*@
                                <li><a href=@Url.Action("OnlinePayment", "Home")>Our Plans</a></li>
                                <li><a href="#gallery" class="scroll">Tutorial</a></li>
                                <li><a href="#services" class="scroll">Services</a></li>
                                @*<li><a href="#clients" class="scroll">Clients</a></li>
                                <li><a href="#contact" class="scroll">Contact</a></li>*@
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <!-- banner -->
        <div class="w3_banner">
            <div class="container">
                <div class="slider">
                    <div class="callbacks_container">
                        <ul class="rslides callbacks callbacks1" id="slider4">
                            <li>

                                <div class="banner_text_w3layouts">

                                    <h3>welcome to MVAC</h3>

                                    <div class="w3-button">
                                        <a href="#about" class="scroll">Read More</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="banner_text_w3layouts" style="position:relative;left:0px">

                                    <h3>

                                        <span style="background-color:none; border:solid;  font-size:90px;padding-bottom:0px;padding-top:0px;align-content:center;padding-left:0px">MY</span> <span style="background-color:none;font-size:50px;position:absolute;padding-right:400px"> Virtual</span>
                                        <span> Accountant</span>

                                    </h3>
                                    <div class="w3-button" @*style="padding-left:400px"*@>
                                        <br />
                                        <br />
                                        <a style="align-self:flex-end" href="#about" class="scroll">Read More</a>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <!-- //banner -->
    </div>
    <!-- //header -->
    <!-- about-->
    <div class="about-us" id="about">
        <div class="container">
            <div class="about-head">
                <h3> About us </h3>
                <div class=" about-inner">

                    <div class="clearfix"> </div>
                </div>
                <div class=" matter" style="font-size:x-large">
                    <p>
                        This is a virtual accountant solution
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- //about-->
    <!--service-section-starts-here-->
    <div class="services" id="services">
        <div class="container">
            <div class="services-us">
                <h3>Services</h3>
                <div class="agile-service-grids">
                    <div class="col-md-4 w3ls-svr-bottom-grid">
                        <div class="col-sm-3 col-xs-3 agileits-ma">
                            <div class="w3ls-svr-icon">
                                <span class="fa fa-laptop" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="col-sm-9 col-xs-9 agileits-ma">
                            <div class="svr-bt-text-w3ls">

                                <p style="font-size:large">
                                    1. Unlimited client accounts
                                    <br />
                                    2. Add,update and delete any account
                                </p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-md-4  w3ls-svr-bottom-grid">
                        <div class="col-sm-3 col-xs-3 agileits-ma">
                            <div class="w3ls-svr-icon">
                                <span class="fa fa-cog" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="col-sm-9 col-xs-9 agileits-ma">
                            <div class="svr-bt-text-w3ls">
                                <p style="font-size:large">
                                    3. Add,delete,update and see unlimited services connected to your clients
                                    <br />
                                    4. Can see Stats of services given with last day, last week and last month
                                </p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-md-4 w3ls-svr-bottom-grid">
                        <div class="col-sm-3 col-xs-3 agileits-ma">
                            <div class="w3ls-svr-icon">
                                <span class="fa fa-cogs" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="col-sm-9 col-xs-9 agileits-ma">
                            <div class="svr-bt-text-w3ls">
                                <p style="font-size:large">
                                    5. Can see and save the receipts
                                    <br />
                                    6. Clients can see services given to them using their own account

                                </p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!--//service-section-end-here-->
    <!-- gallery -->
    <div class="agile_services" id="gallery">

        <h3>Tutorial</h3>
    </div>

    <div class="contact" id="contact">
        <div class="container">
            <div class="agile-contact-grids">
                @* Login *@
                <div>

                    <div class="col-md-6 agile-contact-left" style="text-align:justify">
                        <div class="contact-form">
                            @* Login Services *@
                            <div class="col-sm-9 col-xs-9 agileits-ma">
                                <div class="svr-bt-text-w3ls">
                                    <h4>Login</h4>
                                    <p style="font-size:large">
                                        <b><u>How to login:</u></b>
                                        <br />
                                        On launching the application, you will have a login interface, where you can enter your credentials in the username field and password field. After pressing the button “Login”, our system will check itself that the entered credentials belong to you or your client and open the relative interface.
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6 agile-contact-right" style="text-align:justify">
                        <div class="agileits-map">
                        </div>
                        <div>
                            <img src="~/Contextnew/tutorialimages/Loginpage.jpeg" />

                        </div>
                    </div>
                </div>
                @* Admin Panel Services *@
                <div>
                    <div class="col-md-6 agile-contact-left" style="text-align:justify">
                        <div class="contact-form">
                            <br />
                            <br />

                            <div class="col-sm-9 col-xs-9 agileits-ma">
                                <div class="svr-bt-text-w3ls">
                                    <h4>Admin</h4>
                                    <p style="font-size:large">
                                        After login, if you are the admin, you will have admin interface as you can see in the picture
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6 agile-contact-right" style="text-align:justify">
                        <div class="agileits-map">
                        </div>
                        <div>
                            <br />
                            <br />
                            <br />
                            <img src="~/Contextnew/tutorialimages/Services.jpeg" />

                        </div>
                        <br />
                    </div>
                </div>
                @* MAnageClient *@
                <div>
                    <div class="col-md-6 agile-contact-left" style="text-align:justify">
                        <div class="contact-form">
                            <br />
                            <br />

                            <div class="col-sm-9 col-xs-9 agileits-ma">
                                <div class="svr-bt-text-w3ls">
                                    <h4>Manage Client</h4>
                                    <p style="font-size:large">
                                        Click on the “Manage client”, you will have the manage client interface like in the picture. There, you can see all the clients on left side and on clicking the specific client, you will have his details on the right side of this page.

                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6 agile-contact-right" style="text-align:justify">
                        <div class="agileits-map">
                        </div>
                        <div>
                            <br />
                            <br />
                            <br />
                            <img src="~/Contextnew/tutorialimages/Manageclient.jpeg" />

                        </div>
                    </div>

                </div>

                @* Add or Delete a client *@
                <div>
                    <div class="col-md-6 agile-contact-left" style="text-align:justify">
                        <div class="contact-form">
                            <br />
                            <br />

                            <div class="col-sm-9 col-xs-9 agileits-ma">
                                <div class="svr-bt-text-w3ls">
                                    <h4>Add or Delete Client</h4>
                                    <p style="font-size:large">
                                        <b><u>How to delete any Client:</u></b>
                                        <br />
                                        When you will be on the Manage client interface, you will have to select the client’s email on the left side, then you can click the “Delete” button to delete the client.
                                        <br />
                                        <b> <u>How to add the client:</u>  </b>
                                        <br />
                                        When you will be on the Manage client interface, click on the “Add New Client”. You will have “add client” interface as can be seen below, where you can add the details of new client and then press the “Add Record” button, the client will be added. Now click the “back” button, by refreshing the table using the “Refresh” button, you can see the new client in the table. Please note that you can’t add a client with the same email which is already added.


                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6 agile-contact-right" style="text-align:justify">
                        <div class="agileits-map">
                        </div>
                        <div>
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <img src="~/Contextnew/tutorialimages/updateclientnew.jpeg" />
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>
    @* Services *@
    <div class="contact" id="contact">
        <div class="container">
            <div class="agile-contact-grids">

                <div>
                    <div class="col-md-6 agile-contact-left" style="text-align:justify">
                        <div class="contact-form">
                            <br />
                            <br />

                            <div class="col-sm-9 col-xs-9 agileits-ma">
                                <div class="svr-bt-text-w3ls">
                                    <h4>Services</h4>
                                    <p style="font-size:large">
                                        <b><u>How to see the services which you have already given:</u></b>
                                        <br />
                                        After login, if you are the admin, you will have admin interface as you can see in the picture below.


                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6 agile-contact-right" style="text-align:justify">
                        <div class="agileits-map">
                        </div>
                        <div>
                            <br />
                            <br />
                            <br />
                            <img src="~/Contextnew/tutorialimages/Services.jpeg" />

                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>
    @* Manage Serices *@
    <div class="contact" id="contact">
        <div class="container">
            <div class="agile-contact-grids">

                <div>
                    <div class="col-md-6 agile-contact-left" style="text-align:justify">
                        <div class="contact-form">
                            <br />
                            <br />

                            <div class="col-sm-9 col-xs-9 agileits-ma">
                                <div class="svr-bt-text-w3ls">
                                    <h4>Manage Services</h4>
                                    <p style="font-size:large">
                                        <b><u>How to delete any Service:</u></b>
                                        <br />
                                        When you will be on the Manage Services interface, you will have to select the service’s title on the left side, then you can click the “Delete” button to delete that Service.
                                        <br />
                                        <br />
                                        <b><u>How to add the Service:</u></b>
                                        When you will be on the Manage Services interface, click on the “Add New Service”. You will have “add service” interface as can be seen below, where you can add the details of new client and then press the “Add Record” button, the client will be added. Now click the “back” button, by refreshing the table using the “Refresh” button, you can see the new client in the table. Please note that you can’t add a client with the same email which is already added.

                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6 agile-contact-right" style="text-align:justify">
                        <div class="agileits-map">
                        </div>
                        <div>
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <img src="~/Contextnew/tutorialimages/Manageservicesnew.jpeg" />

                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>



    @* Add Serices *@
    <div class="contact" id="contact">
        <div class="container">
            <div class="agile-contact-grids">

                <div>
                    <div class="col-md-6 agile-contact-left" style="text-align:justify">
                        <div class="contact-form">
                            <br />
                            <br />

                            <div class="col-sm-9 col-xs-9 agileits-ma">
                                <div class="svr-bt-text-w3ls">
                                    <h4>Add Services</h4>
                                    <p style="font-size:large">
                                        <b><u>How to see the Stats:</u></b>
                                        <br />
                                        After login, if you are the admin, you will have admin interface as you can see in the picture


                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6 agile-contact-right" style="text-align:justify">
                        <div class="agileits-map">
                        </div>
                        <div>
                            <br />
                            <br />
                            <br />
                            <img src="~/Contextnew/tutorialimages/Yourservices.jpeg" />

                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>



    @*Stats *@
    <div class="contact" id="contact">
        <div class="container">
            <div class="agile-contact-grids">

                <div>
                    <div class="col-md-6 agile-contact-left" style="text-align:justify">
                        <div class="contact-form">
                            <br />
                            <br />

                            <div class="col-sm-9 col-xs-9 agileits-ma">
                                <div class="svr-bt-text-w3ls">
                                    <h4>Status</h4>
                                    <p style="font-size:large">
                                        <b><u>How to see the Stats:</u></b>
                                        <br />
                                        After login, if you are the admin, you will have admin interface as you can see in the picture


                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6 agile-contact-right" style="text-align:justify">
                        <div class="agileits-map">
                        </div>
                        <div>
                            <br />
                            <br />
                            <br />
                            <img src="~/Contextnew/tutorialimages/Stats.jpeg" />

                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>



    @* Receipts *@
    <div class="contact" id="contact">
        <div class="container">
            <div class="agile-contact-grids">

                <div>
                    <div class="col-md-6 agile-contact-left" style="text-align:justify">
                        <div class="contact-form">
                            <br />
                            <br />

                            <div class="col-sm-9 col-xs-9 agileits-ma">
                                <div class="svr-bt-text-w3ls">
                                    <h4>Receipts</h4>
                                    <p style="font-size:large">
                                        <b style="text-decoration-color:orangered">
                                            <u>How to see the Receipts:</u>
                                        </b>
                                        <br />

                                        After login, if you are the admin, you will have admin interface as you can see in the picture
                                        <br />

                                        Click on the “Receipt”, you will have the Receipt interface like in the picture below. You can see all the receipts details in the table on the left side. On clicking the specific receipt from the table, you can see it on the right side.
                                        <br />
                                        <b><u>How to delete any Receipt:</u></b>
                                        <br />
                                        When you will be on the Receipts interface, you will have to select the receipt’s row on the left side, then you can click the “Delete Selected” button to delete that Receipt.
                                        <br />
                                        <b><u>How to add the Receipt:</u></b>
                                        <br />
                                        When you will be on the Receipts interface, click on the “Browse” button to select the picture from your system. Then you will assign it the name and date from the related fields. Now, click on the “Add Picture” button to add the picture to database.

                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6 agile-contact-right" style="text-align:justify">
                        <div class="agileits-map">
                        </div>
                        <div>
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <img src="~/Contextnew/tutorialimages/Receipts.jpeg" />

                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>



    @* Client Interface *@


    <div class="contact" id="contact">
        <div class="container">
            <div class="agile-contact-grids">

                <div>
                    <div class="col-md-6 agile-contact-left" style="text-align:justify">
                        <div class="contact-form">
                            <br />
                            <br />

                            <div class="col-sm-9 col-xs-9 agileits-ma">
                                <div class="svr-bt-text-w3ls">
                                    <h4>Client Interface</h4>
                                    <p style="font-size:large">
                                        When Client will enter his details on the login page, system will authenticate it and enter him into the client panel. Client panel will be look like in the picture below.  There he can see all the services in the table given to him by you and  he can also see the total of his spending below the table.


                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6 agile-contact-right" style="text-align:justify">
                        <div class="agileits-map">
                        </div>
                        <div>
                            <br />
                            <br />
                            <br />
                            <img src="~/Contextnew/tutorialimages/Yourservices.jpeg" />

                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>




    @* Update Client Details *@


    <div class="contact" id="contact">
        <div class="container">
            <div class="agile-contact-grids">

                <div>
                    <div class="col-md-6 agile-contact-left" style="text-align:justify">
                        <div class="contact-form">
                            <br />
                            <br />

                            <div class="col-sm-9 col-xs-9 agileits-ma">
                                <div class="svr-bt-text-w3ls">
                                    <h4>Update Client</h4>
                                    <p style="font-size:large">
                                        <b><u>How to update the client details:</u></b>
                                        <br />
                                        When you will be on the Manage client interface, click on the client email in the table which you want to update, then click on the update button, that is on the right bottom of screen. You will have “update client details” interface as can be seen below, where you can change the details of client and then press the “Update Record” button, the client details will be updated. Now click the “back” button, by refreshing the table using the “Refresh” button, you can see the updated detail of the client. Please note that you can’t change the email address of client once it is added, however you can delete and add it from the start with the new email.


                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6 agile-contact-right" style="text-align:justify">
                        <div class="agileits-map">
                        </div>
                        <div>
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <img src="~/Contextnew/tutorialimages/updateclientnew.jpeg" />

                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>











    @* Update Service Details *@


    <div class="contact" id="contact">
        <div class="container">
            <div class="agile-contact-grids">

                <div>
                    <div class="col-md-6 agile-contact-left" style="text-align:justify">
                        <div class="contact-form">
                            <br />
                            <br />

                            <div class="col-sm-9 col-xs-9 agileits-ma">
                                <div class="svr-bt-text-w3ls">
                                    <h4>Update Service</h4>
                                    <p style="font-size:large">
                                        <b><u>How to update the service details:</u></b>
                                        <br />
                                        When you will be on the Manage Services interface, click on the service title in the table which you want to update, then click on the update button, that is on the right bottom of screen. You will have “update service details” interface as can be seen below, where you can change the details of service and then press the “Update Record” button, the client details will be updated. Now click the “back” button, by refreshing the table using the “Refresh” button, you can see the updated detail of the client. Please note that you can’t change the title of any service once it is added, however you can delete and add it from the start with the new service.


                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6 agile-contact-right" style="text-align:justify">
                        <div class="agileits-map">
                        </div>
                        <div>
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <img src="~/Contextnew/tutorialimages/Updateservicenew.jpeg" />

                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>

























    <!-- //subscribe -->
    <!--footer-->
    <div class="footer">
        <div class="container">
            <div class="col-md-6 copyright">
                <p>&copy; 2020 MVAC . All Rights Reserved </p>
            </div>
            <!-- //Copyright -->
            <div class="clearfix"> </div>
        </div>
    </div>
    <!--//footer-->
    <!-- js -->
    @*<script type='text/javascript' src='js/jquery-2.2.3.min.js'></script>*@

    <script src="~/Contextnew/js/jquery-2.2.3.min.js"></script>


    <!-- //js -->
    <!--menu script-->
    @*<script type="text/javascript" src="js/modernizr-2.6.2.min.js"></script>*@

    <script src="~/Contextnew/js/modernizr-2.6.2.min.js"></script>

    @*<script src="js/bootstrap.min.js"></script>*@
    <script src="~/Contextnew/js/bootstrap.min.js"></script>





    <!--navbar script-->
    @*<script src="js/jquery.fatNav.js"></script>*@

    <script src="~/Contextnew/js/jquery.fatNav.js"></script>

    <script>
        (function () {

            $.fatNav();

        }());
    </script>
    <!--banner slider script-->


    <script src="~/Contextnew/js/responsiveslides.min.js"></script>

    <script>
        // You can also use "$(window).load(function() {"
        $(function () {
            // Slideshow 4
            $("#slider4").responsiveSlides({
                auto: true,
                pager: true,
                nav: true,
                speed: 500,
                namespace: "callbacks",
                before: function () {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                    $('.events').append("<li>after event fired.</li>");
                }
            });

        });
    </script>

    <!--client carousel -->
    @*<script src="js/owl.carousel.js"></script>*@

    <script src="~/Contextnew/js/owl.carousel.js"></script>

    <script>
        $(document).ready(function () {
            $("#owl-demo").owlCarousel({
                items: 1,
                itemsDesktop: [768, 1],
                itemsDesktopSmall: [414, 1],
                lazyLoad: true,
                autoPlay: true,
                navigation: true,

                navigationText: false,
                pagination: true,

            });

        });
    </script>
    <!-- //carousel -->
    <!-- gallery-pop-up -->
    @*<script src="js/jquery.chocolat.js"></script>*@
    <script src="~/Contextnew/js/jquery.chocolat.js"></script>



    <link rel="stylesheet" href="css/chocolat.css" type="text/css" media="screen">
    <!--light-box-files -->
    <script type="text/javascript">
        $(function () {
            $('.agileinfo_portfolio_grid a').Chocolat();
        });
    </script>
    <!-- //gallery-pop-up -->
    <!-- start-smoth-scrolling -->
    @*<script type="text/javascript" src="js/move-top.js"></script>*@
    <script src="~/Contextnew/js/move-top.js"></script>

    @*<script type="text/javascript" src="js/easing.js"></script>*@

    <script src="~/Contextnew/js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
        $(document).ready(function () {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
                };
            */

            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>
    <!-- //here ends scrolling icon -->
</body>
</html>