@{
                /**/

                ViewBag.Title = "OnlinePayment";
}
<style>
    .dropdown {
        position: relative;
        display: inline-block;
    }


    #drop-content {
        position: absolute;
        z-index: 1;
    }

    #drop-contentt {
        position: absolute;
        z-index: 1;
    }

     #drop-contenttt {
        position: absolute;
        z-index: 1;
    }

    #drop-content a {
        display: block;
        font-size: 15px;
         background-color:azure;
        color: black;
        text-decoration-color:red;
        text-decoration-style: none;
        padding: 10px 36px;
        margin-top: 2px;
        
    }

    #drop-contentt a {
        display: block;
        font-size: 15px;
        background-color:azure;
        color: black;
         text-decoration-color:red;
        text-decoration-style: none;
        padding: 10px 36px;
        margin-top: 2px;
    }



    #drop-contenttt a {
        display: block;
        font-size: 15px;
       background-color:azure;
        color: black;
        text-decoration-color:red;
        text-decoration-style: none;
        padding: 10px 36px;
        margin-top: 2px;
    }

</style>

@* Registration *@
<body >
    <div>
        <font size="8" style="text-decoration:wavy; text-decoration-color:red">Our Plans</font>
    </div>
    <div style="text-align:left" >
        <br />
        <br />
        <font size="5" style="text-decoration:wavy;">Registration 500$</font>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <div class="dropdown" style="font-size:20px">
            @*Monthly payment view is contact*@
            <button onclick="show_hide()" class="button block"> Subscribe </button>
            <div  style="display:none;" id="drop-content">
                <a href=@Url.Action("PayPalRegistration", "Home")>PayPal</a>
                <a href=@Url.Action("Create", "Cart")>ViaCard</a>
            </div>

        </div>
    </div>
    @* Yearly Subscription *@
    <div style="text-align:left">


        <br />
        <br />
        <br />
        <font size="5" style="text-decoration:wavy;">Yearly Subscription &nbsp; 150$</font>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="dropdown" style="font-size:20px">
            <button onclick="show_hideefun()" class="button"> Subscribe </button>
            <div style="display:none; " id="drop-contentt">
                <a href=@Url.Action("PayPalYearly", "Home")>PayPal</a>
                <a href=@Url.Action("CreateYearly", "Cart")>ViaCard</a>
            </div>

        </div>

    </div>




    @* Registration+Yearly Subscription *@
    <div style="text-align:left" >


        <br />
        <br />
        <br />
        <font size="5" style="text-decoration:wavy;text-decoration-color:red">Registration + Yearly Subscription 650$</font>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="dropdown" style="font-size:20px">
            <button onclick="show_hideeefun()" class="button"> Subscribe </button>
            <div style="display:none; " id="drop-contenttt">
                <a href=@Url.Action("PayPalYearlyandRegsitration", "Home")>PayPal</a>
                <a href=@Url.Action("CreateYearlyandRegister", "Cart")>ViaCard</a>
            </div>

        </div>

    </div>


</body>




<script>
    function show_hide() {
        var click = document.getElementById("drop-content");
        if (click.style.display == "none") {
            click.style.display = "block";
        }
        else {
            click.style.display = "none";
        }
    }

</script>

<script>
    function show_hideefun() {
        var click = document.getElementById("drop-contentt");
        if (click.style.display == "none") {
            click.style.display = "block";
        }
        else {
            click.style.display = "none";
        }
    }

</script>

<script>
    function show_hideeefun() {
        var click = document.getElementById("drop-contenttt");
        if (click.style.display == "none") {
            click.style.display = "block";
        }
        else {
            click.style.display = "none";
        }
    }

</script>

