@using MVAC.Models
@model StripeChargeViewModel
@{
   // Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OrderStatus</title>
</head>
<body>
    <div> 
        <b style="font-size:22px">Your Payment id is Below! You have to take the screen shot of this id and Email it to us</b>
        <div style="font-size:6px;background-color:antiquewhite;border:groove;">
            <h1 >@Model.ChargeId</h1>
        </div>
       
    </div>
</body>
</html>
